.slider_content-top {
    text-align: center;
    margin-top: 130px;
}

.description1 {
    margin-top: 50px;
}
.subtitle,.para {
    margin-top: 50px;
}
.para {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider_wrapper {
    width: 70%;
    margin: auto;

}
.slider_item {
    background: var(--testimonial-bg);
    margin-top: 100px;
    padding: 40px 0px;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.customer_details {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 40px;

}
.customer_img{
    width: 60px;
    height: 60px;
}
.customer_img img {
    width: 120%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}
.customer_name {
    color: white;
    font-size: 1.2rem;

}
@media only screen and(max-width:992px) {
    .slider_content-top{
        font-size: 1.5rem;
        margin-top: 30px;
    }
}
@media only screen and(max-width:768px) {
    
     .slider_wrapper {
        width: 90%;
     }
     .customer_name{
        font-size: 1rem;
     }
}